#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')

${ticDisplayedName} - ${ticDisplayedBW6MavenName} is the core Maven plugin
defining the BW6 lifecycles.

$h3 5-minute user guide*

\* <i>download-time of Maven dependencies and 
<a href="${siteDisplayURL}/${toeInstallerURLBase}/">TIBCO products installation</a>
not included.</i>

<ul class="fa-ul ul-main">
<li><p>
<span class="fa fa-hand-o-right"></span> Ensure the
<a href="./global-documentation.html#Sample_Profile">sample profile</a> is set
in the <a href="https://maven.apache.org/settings.html">Maven 'settings.xml'
file</a>.

${sampleProfile}

</p></li>
<li><p>
<span class="fa fa-hand-o-right"></span> Install
${ticDisplayedName} - ${ticDisplayedBW6MavenName} prerequisites : 

<div class="command" title="Install p2 repository for Maven">
<span id="command">mvn bw6:p2maven-install</span>
<span class="argument">-P tic-bw6</span>
</div>

<div class="command" title="Install proxy feature for TIBCO BusinessStudio">
<span id="command">mvn bw6:studio-proxy-install</span>
<span class="argument">-P tic-bw6</span>
</div>

</p></li>

<span class="separator" />

<li><p>
<span class="fa fa-hand-o-right"></span> Create a new TIBCO BusinessWorks 6.x
project (composed of one <em>application</em> and one <em>app-module</em>) with
<a href="${siteDisplayURL}/${tacURLBase}/archetypes/index.html">archetypes</a>.

<ol type="1">
<li>
<p>Create a simple TIBCO BusinessWorks 6.x <em>application</em> which will
include one <em>app-module</em> with
<a href="${siteDisplayURL}/${tacURLBase}/archetypes/bw6/application/default-bw6-application/index.html">default BW6 application archetype</a>.
</p>

${default-bw6-application_ArchetypeCommandLine}

</li>


<li>
  <p>Change the working directory to the created application directory.</p>
  <div class="command" title="Change to application directory">
    <span id="command">cd bw6-application</span>
  </div>
</li>

<li>
<p>Create a simple TIBCO BusinessWorks 6.x <em>app-module</em> to be included in the
TIBCO BusinessWorks 6.s <em>application</em> with
<a href="${siteDisplayURL}/${tacURLBase}/archetypes/bw6/app-module/default-bw6-app-module/index.html">default BW6 app module archetype</a>.
</p>

${default-bw6-app-module_ArchetypeCommandLine}

</li>

<li>
  <p>Add the application module in the application (in created application 
  directory).</p>

  <div class="command" title="Add module in application">
    <span id="command">mvn bw6:add-module</span>
    <span class="argument">-P tic-bw6</span>
    <span class="argument">-Dtibco.bw6.project.module.relativePath=./bw6-app-module</span>
  </div>

</li>

</ol>

</p></li>

<span class="separator" />

<li><p>
<span class="fa fa-hand-o-right"></span> Launch the TIBCO Business Studio.

<div class="command" title="Launch Studio">
<span id="command">mvn bw6:studio</span>
<span class="argument">-P tic-bw6</span>
</div>

</p></li>

<span class="separator" />

<li><p>
<span class="fa fa-hand-o-right"></span> Generate the EAR and XML file
(in created application directory).

<div class="command" title="Generate EAR and XML">
<span id="command">mvn clean package</span>
<span class="argument">-P tic-bw6</span>
</div>

</p></li>
</ul>

---

$h2 Documentation

<ul class="fa-ul">
  <li><span class="fa-li fa fa-plug"></span> <a href="./plugin-info.html">Plugin documentation</a></li>
  <li><span class="fa-li fa fa-gear"></span> <a href="./global-documentation.html">Global documentation</a></li>
  <li><span class="fa-li fa fa-recycle"></span> <a href="./lifecycles.html">Lifecycles</a></li>
  <li>Source <span class="fa-li fa fa-git"></span> <a href="./source-repository.html">repository</a> / <span class="fa-li fa fa-git"></span> <a href="./xref/index.html">reference</a></li>
  <li><span class="fa-li fa fa-coffee"></span> <a href="./apidocs/index.html">Javadoc</a></li>
</ul>
